In [2]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Users\\Temii\\Downloads'

## Introduction:
#### Pandas is a library to manipulate data. There is two data structures in pandas.
### i)	Series  single column with single dtypes
### ii)	DataFrame  multiple columns with multiple datatypes

In [ ]:
lst = pd.Series([1,12,123,1234,12345])
dict = pd.Series({'a':10,'b':20,'c':30})
numpy_array = pd.Series(np.array([1,12,123,1234,12345]))

### Make a DataFrame

In [ ]:
lst = pd.DataFrame([[1,'zain'],[2,'asif'],[3,'temii']], columns=['ID','Name'])
dict = pd.DataFrame({'id':[1,2,3],'name':['zain','asif','temii']})
numpy_array = pd.DataFrame(np.array([[1,'zain'],[2,'asif'],[3,'temii']]), columns=['id','name'])

In [3]:
df = pd.read_excel('Make it Simple.xlsx')

### Acces and change any value

In [ ]:
df['col'][1] ='value'                     # assign a new value
df[col_index][row_idex] = 'new value'     # assign a new value
df.index = [1,2,3,4]                      # change index
df.index = ['1st','2nd','3rd','4th']      # change index
df.set_index('col_name')                  # set any column to index
df.reset_index()                          # reset index to default
df.sort_index()                           # sort values by index
df.sort_index(axis=1,ascending=False)     # sort by columns
# axis =1 is for column and axis=0 is for row

### useful insgihts function

In [ ]:
df.head()      # head of df (first few rows)
df.tail()      # tail of df (last few rows)
df.info()      # summary of df (rows, columns, dtypes)
df.describe()  # generate discriptive statistics (mean, std, min, 25%, 50%, 75%, max)
df.shape       # return dimensions of df (rows, columns)
df.columns     # Return columns name of DataFrame
df.index       # range index (start=, stop=, step=)
df.dtypes      # tell df types of columns
df.nunique()   # return number of unique values in each column
df.value_counts()     # give frequency of unique values in columns
df.sample()           # random sample of rows from df frame 
df.memory_usage()     # memory usage of each column
df.duplicated().sum() # check no of duplicate rows
df.T                  # take a transpose of dfframe
df['col'].astype('int')                       # change dtype of column
df.select_dtypes(include='object')            # select columns on behalf of dtypes
df.rename(columns = {'column_a': 'column_1'}) # rename your columns

# STATISTICAL FUNCTIONS:-

In [ ]:
df['num_col'].mean()     # average
df['num_col'].median()   # middle
df['num_col'].mode()     # mode
df['num_col'].std()      # standard deviation
df['num_col'].var()      # variance
df['num_col'].sum()      # total of values
df['num_col'].min()      # minimun
df['num_col'].max()      # maximun
df['num_col'].corr()     # correlation
df['num_col'].cov()      # co-variance
df['num_col'].skew()     # skewness
df['num_col'].kurt()     # kurtosis
df['num_col'].cumsum()   # commulative sum
df['num_col'].cumprod()  # commulative product
df['num_col'].round(2)   # round at 2 integer
df.count()               # count the rows for each columns

## DataFrame Indexing and Selection

### Using loc[]

In [ ]:
df.loc[1:2]                    # acess by rows index
df.loc[1,'col']                # by row index and column name
#     row   column
df.loc[[1,2],['col1','col2']]  # access multiple row and column
df.loc[1:3,'col1':'col3']      # acces by slicing

### Using iloc[]

In [ ]:
df.iloc[[0,2],[0,2]]   # acess by both  of row and column inde
#        row   column
df.iloc[:,[1,2]]       # ALl rows but specific columns
df.iloc [[0,2],:]      # get all columns but specific rows
df.iloc[0:2,1:3]       # access rows and columns by slicing

### Selecting specific rows and columns by labels and postion

In [ ]:
df['col']            # Access column
df['col'][3]         # acess col with row index
df[['col1','col2']]  # access multiple columns
df.loc['row']        # get row by label
df.iloc[1]           # get row by position

### Condition Based Selection or Filterring data

In [ ]:
df[df['col']>60]                      # filter DatafFrame by condition
df[(df['col']>2) and (df['col2']<6)]  # filter by 2 columns using and or
df[(df['col']>2) & (df['col2']<6)]    # filter by 2 columns using & , |
df['col'].isin(['value','value2'])    # filter values in column

### Boolean and Fancy index

In [ ]:
# we have operators  ==, >, <, <=, >=, &, |
df[df['col']>= 4]     # Boolean
df.loc[[2:6,'col']]   # Fancy

## Handling Missing Values

### i) Identify Missing values   (NaN , Nan , None, Null)

In [ ]:
df.isnull()         # check null values true or False
df.notnull()        # same as above
df.isna()           # same as above
df.isnull().sum()   # missing values counts 
df.isnull().mean()  # missing value % count

### ii) Dropping missing data

In [ ]:
df.drop('row_index')             # drop specfic row by index
df.drop(['row'])                 # drop multiple rows
df.drop([1:3])                   # drop multiple rows by slicing
df.drop(['col'],axis=1)          # drop column if axis=1
df.drop(['col1','col2'], axis=1) # drop multiple columns
df.drop(['col1','col2'], axis=1, inplace=True) # inplace=True used for save changes

### Dropna()

In [ ]:
df.dropna()                 # drop all null values
df.dropna(how='any')        # drop rows with any missing values 
df.drona(how='all')         # drop all null values
df.dropna(subset=['col'])   # drop null values from specific column
df.dropna(thresh=3)         # drop rows with fewer than 3 null values

### iii) Filling missing values

In [ ]:
df.fillna('value')         # fill null with value  
df.fillna(method='ffill')  # fill rows by forward filling
df.fillna(method='bfill')  # fill rows by backward filling
df.fillna(method='ffill', axis=1)  # fill column by forward filling
df.fillna(method='bfill',axis=1)   # fill column by backward filling
df.fillna('value',inplace=True,limit=3)     # inplace for save changes, limit for max replacement
df.fillna({'col1':'value','col2':'value'})  # fill null specific column with specific value
df.fillna(df['col'].mean(), inplace=True)   # fill numerical values

## Data Manipulation and Cleaning

#### Re-naming columns and index

In [ ]:
df.rename(columns={'old':'new'})    # rename column
df.rename(index={0:'1st',1:'2nd'})  # rename  index

#### Re-indexing

In [ ]:
df.reindex([2,3,4,5])                   # re order index
df.set_index('col',inplace=True)        # set specific column as index
df.reset_index(drop=True, inplace=True) # reset default index

#### Rename Duplicates

In [ ]:
df.drop_duplicates()                            # drop all the duplicate rows
df.drop_duplicates(subset=['col'],keep='first') # keep only 1st duplicate rows
df.drop_duplicates(subset=['col'],keep='last') # keep only last duplicate rows

### Replace values

In [ ]:
df.replace('old','new')                                 # replace old value with new
df.replace({'old1':'new1','old2':'new2'})               # replace multiple values
df.replace({'col':{'old':'old'},'col2':{'old':'new'}})  # replace values in specific column
df.replace(['old1','old2'],['new1','new2'])             # repalce values using list
df.replace(1,method='ffill')           # replace using forward filling
df.replace(1,method='bfill')           # replace using backward filling
df.replace(1,method='bfill',limit=3)   # repalce with impose limit

#### Replace using Regular expression

In [ ]:
# replace all the A-Z and 0-9 and a-z 
df.replace({'col':'[A-Za-z0-9]'},'value', regex=True)           
df.replace(to_replace=r'.regular expression or old_word',value='new_value', regex=True)
df.str.replace(r'\W')  # remove special characters

## Commonly Used Regular Expressions in Pandas Replace Function
###### 1. Basic Matching
- `r'\d'`: Matches any digit (0-9).
- `r'\D'`: Matches any non-digit character.
- `r'\s'`: Matches any whitespace (space, tab, newline).
- `r'\S'`: Matches any non-whitespace charac####r.

## 2. Anchors
- `r'^pattern'`: Matches strings starting with "pattern".
- `r'pattern$'`: Matches strings ending with "p####tern".

## 3. Repetition
- `r'a+'`: Matches one or more occurrences of "a".
- `r'a*'`: Matches zero or more occurre####es of "a".

## 4. Groups and Alternation
- `r'(a|b)'`: Matches "a" or "b".
- `r'(abc)'`: Matches the exa#c#t group "abc".

## 5. SpeciaW ChaRemove speical charactershes a literal period.
- `r'\$'`: Matches a li##teral dollar sign.

## 6. Character Classes
- `r'[aeiou]'`: Matches any one of the specified characters.
- `r'[^aeiou]'`: Matches any character except the specified ones.

## Applying Custom function

In [ ]:
df['col'].apply(lambda x:x**2)                 #apply custom power function to specific column
df.applymap(lambda x:x*2)                      # apply function on DataFrame
df.apply(lambda row: row['A']+row['B'], axis=1)# apply function on column

### Removing leading and trailing   strip(), lstrip(), rstrip()

In [ ]:
# spliting strings
df['col'].str.split('delimiter',expand=True)
# delimeter are (, . - / etc)

In [ ]:
df['col'].str.strip('123./_ word')      # remove special char from column with regex
df['col'].str.lstrip('delimiter')       # remove from left
df['col'].str.rstrip('delimiter')       # remve from right

## Merge , Joining and concating

#### Merge

In [ ]:
pd.merge(df1,df2)                      # merge two DataFrame
pd.merge(df1,df2, on='same key col')   # merge on same key col
pd.merge(df1,df2, how ='inner')        # only matching column
pd.merge(df1,df2, how ='outer')        # all the columns merge
pd.merge(df1,df2, how ='left')         # all from left df
pd.merge(df1,df2, how ='right')        # all from right df
pd.merge(df1,df2, indicator=True)      # used for indiction of data which is df1 or df2
pd.merge(df1,df2,left_index=True )     # left_index = True mean it belongs to left df
pd.merge(df1,df2,right_index=True )    # right_index = True mean it belongs to right df
pd.merge(df1,df2,suffixes=('left'))    # we can name the left DF
pd.merge(df1,df2,suffixes=('right'))    # we can name the right DF

#### Join   - join is same as like merge

In [ ]:
df.join(df2, how='left', on='key',lsuffix='left_df_name',
        rsuffix='right_df_name',sort=False)

### Concat

In [ ]:
pd.concat([sr1,sr2])
pd.concat([df1,df2])
pd.concat([df1,df2],axis =1,join='inner',ignore_index=True,keys=['1st_df','2nd_df'])

## Grouping and Aggregation

In [ ]:
df.groupby('col')['value_column'].sum()
df.get('item_name')  # get certain item data
df.agg({'col1':'sum','col2':'mean'})   # aggrate of specific column

## Pivoting and Reshaping Data

### Pivot Table

In [ ]:
df.pivot(index='index_col',columns='col',values='numeric_col')
df.pivot_table(index='category',values='values',aggfunc='sum')
df.pivot_table(index='col for row',columns='col for column',values='values',aggfunc='sum')

In [ ]:
# df.melt(id_vars='Month').to_string()

In [ ]:
df.to_string()